.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header-nav__link {
  display: flex;
  align-items: center;
}

.link__img {
  margin-right: 10px;
}

.link__name {
  font-family: "Gilroy", sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 42.88px;
}

.link__studio {
  text-transform: uppercase;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 35px;
  line-height: 41.02px;
}

.link__reg-symbol {
  align-self: flex-start;
}

.header-nav__link {
  & span {
    display: none;
  }
}

.header-nav__menu-btn {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 25px;
  line-height: 29.3px;
  color: $main-gray-color;
}
