@media screen and (min-width: 769px) {
  .team__headline {
    text-transform: uppercase;
    font-size: 80px;
  }

  .team__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .flex-wrapper__member-card {
    width: 446px;
  }
  .card-1 {
    margin-top: 50px;
  }

  .member-card__name,
  .member-card__status {
    text-align: left;
  }

  .member-card__socials-wrapper {
    width: 100%;
    justify-content: flex-end;

    & a {
      & img {
        margin-left: 10px;
      }
    }
  }

  .join-us__join,
  .join-us__branding {
    text-align: left;
  }

  .join-us__btn--find-job {
    position: relative;
    width: 163px;
    border: none;
    border-radius: 50px;
    padding: 15px 61px 15px 30px;
    background-color: $main-gray-color;
    color: white;
    font-family: $g-medium;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    margin: 0;
  }

  .join-us__btn--find-job::after {
    content: url(../../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 33px;
    position: absolute;
    top: 9px;
    left: 110px;
    z-index: 1;
    margin: 0;
  }
}
