.team-section {
	border-top: 1px solid #000;
}

.team__headline {
	font-family: $g-light;
	font-weight: 300;
	font-size: 62px;
	color: #252525;
	text-align: center;
	margin: 30px 0;
}

.flex-wrapper__member-card {
	margin-top: 50px;
}
.card-1 {
	margin: 0;
}

.member-card__name {
	display: block;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	font-family: $g-heavy;
	font-weight: 800;
	font-size: 26px;
}

.member-card__status {
	display: block;
	text-align: center;
	color: #333333;
	font-family: $g-medium;
	font-size: 20px;
	margin-top: 5px;
}

.member-card__photo {
	width: 100%;
	margin: 15px 0;
}

.member-card__socials-wrapper {
	width: 150px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.join-us__wrapper {
	margin-bottom: 50px;
}

.join-us__join {
	text-transform: uppercase;
	color: #333333;
	font-family: $gilroy;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	padding: 60px 0 15px 0;
}

.join-us__branding {
	text-transform: uppercase;
	color: #333333;
	font-family: $g-heavy;
	font-size: 40px;
	line-height: 46px;
	text-align: center;
	margin-bottom: 15px;
}

.join-us__btn--find-job {
	display: block;
	margin: auto;
	width: 100%;
	border: none;
	border-radius: 50px;
	padding: 15px 0;
	background-color: $main-gray-color;
	color: white;
	font-family: $g-medium;
	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	//   margin-bottom: 50px;
}

.team-section__btn--find-job::after {
	content: url(../../images/arrow-right.svg);
	background-repeat: no-repeat;
	background-size: 33px;
	margin-left: 10px;
	top: 9px;
	left: 154px;
}

@media (min-width: 364px) {
	.member-card__name {
		font-size: 30px;
	}
}
