@media screen and (min-width: 1201px) {
  .team__headline {
    font-size: 212px;
  }

  .team__flex-wrapper {
    display: block;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 50px;
  }

  .flex-wrapper__member-card {
    margin: 0;
  }

  .flex-wrapper__member-card {
    width: 100%;
  }

  .member-card__name {
    font-size: 22px;
  }

  .join-us__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 3/5;
    grid-row: 2/3;
  }
}
