@use "sass:math";

@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20878,20880");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20878,20880");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import "./reset.scss";
@import "../scss/root-styles/root.scss";
@import "../scss/header-styles/header.scss";
@import "../scss/description-section/description.scss";
@import "../scss/about-me-styles/about-me.scss";
@import "../scss/logo-section/logos.scss";
@import "../scss/selected-work-styles/selected-work.scss";
@import "../scss/team-section-styles/our-team.scss";

@import "./header-styles/header-tablet.scss";
@import "./description-section/description-tablet.scss";
@import "./team-section-styles/our-team-tablet.scss";
@import "./selected-work-styles/selected-work-tablet.scss";

@import "./header-styles/header-desktop.scss";
@import "./selected-work-styles/sekected-work-desktop.scss";
@import "./team-section-styles/our-team-desktop.scss";

@import "./section-flex-desktop.scss";
// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss

@import "./layout/services/services.scss";

@import "./layout/clients/clients.scss";

@import "./layout/contact/contact.scss";

@import "./layout/footer/footer.scss";

@import "./base/typography.scss";
@import "./base/utilities.scss";

@import "./components/buttons.scss";
@import "./components/clients-card.scss";
@import "./components/social-cont.scss";

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
