.contact {
	display: flex;
	border-top: 1px solid #000;
	flex-direction: column;
	text-align: center;
	padding: 20px;
	gap: 30px;

	.container-title {
		font-size: 80px;
	}

	.contact__container-right {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.container__subtitle {
		font-size: 50px;
	}

	.container__text {
		font-size: 30px;
	}

	.container__button {
		display: flex;
		justify-content: center;
	}
}

@import './layout/contact/contact-tablet.scss';
@import './layout/contact/contact-desktop.scss';
