.contact {
	display: flex;
	border-top: 1px solid #000;
	flex-direction: column;
	text-align: center;
	gap: 30px;
	padding: 30px;

	@media (min-width: 768px) and (max-width: 1200px) {
		.container-title {
			font-size: 150px;
		}

		.contact__container-right {
			display: flex;
			flex-direction: column;
			gap: 50px;
		}

		.container__subtitle {
			font-size: 64px;
		}

		.container__text {
			font-size: 34px;
		}

		.container__button {
			display: flex;
			justify-content: center;
		}
	}
}
