.contact {
	display: flex;
	border-top: 1px solid #000;

	@media (min-width: 1200px) {
		flex-direction: row;
		gap: 40px;
		padding: 50px 70px 100px 70px;

		.container-title {
			font-size: 150px;
		}

		.contact__container-right {
			display: flex;
			flex-direction: column;
			gap: 50px;
		}

		.container__subtitle {
			font-size: 64px;
		}

		.container__text {
			font-size: 34px;
		}
	}
}
