.services {
	display: flex;

	@media (min-width: 768px) and (max-width: 1200px) {
		flex-direction: column;

		.services__container-img {
			max-width: 100%;
			&::before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			.services__container {
				display: flex;
				padding: 30px;
				flex-direction: column;
				gap: 40px;

				.services__title {
					font-size: 150px;
				}

				.services__content {
					display: flex;
					flex-direction: column;
					gap: 44px;

					.content__subtitle {
						font-size: 40px;
					}

					.content__text {
						font-size: 20px;
						border-bottom: 1px solid #000;
						padding-bottom: 40px;
					}

					.content__text-none {
						font-size: 20px;
						padding-bottom: 40px;
					}
				}
			}
		}
	}
}
