.services {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #000;

	.services__container-img {
		max-width: 100%;
		&::before {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	.services__container {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 40px;

		.services__title {
			font-size: 80px;
		}

		.services__content {
			display: flex;
			flex-direction: column;
			gap: 30px;

			.content__subtitle {
				font-size: 35px;
			}

			.content__text {
				font-size: 20px;
				border-bottom: 1px solid #000;
				padding-bottom: 30px;
			}

			.content__text-none {
				font-size: 20px;
			}
		}
	}
}

.services__container-img {
	background-image: url('../images/what-i-do-bgd.jpg');
}

@import 'services-tablet.scss';
@import 'services-desktop.scss';
