.services {
	display: flex;

	@media (min-width: 1200px) {
		flex-direction: row;
		.services__container-img {
			max-height: auto;
		}

		.services__container-img,
		.services__container {
			flex: 1;
		}

		.services__container {
			display: flex;
			padding: 70px;
			flex-direction: column;
			gap: 100px;

			.services__title {
				font-size: 150px;
			}

			.services__content {
				display: flex;
				flex-direction: column;
				gap: 40px;

				.content__subtitle {
					font-size: 44px;
				}

				.content__text {
					font-size: 20px;
					border-bottom: 1px solid #000;
					padding-bottom: 40px;
				}

				.content__text-none {
					font-size: 20px;
					padding-bottom: 40px;
				}
			}
		}
	}
}
