.logo-wrapper {
  width: 100%;
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & div {
    background-color: white;
    border-radius: 50px;
  }
}

.logo-1,
.logo-2,
.logo-4 {
  padding: 17px 40px;
}
.logo-3,
.logo-6 {
  padding: 15px 40px;
}
.logo-5 {
  padding: 20px 40px;
}
.logo-7 {
  padding: 17px 40px;
}
