@media screen and (min-width: 1201px) {
  .selected-work__content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }

  .selected-work__headline {
    margin: 70px 0 50px 0;
  }

  .selected-work__img-1,
  .selected-work__img-3 {
    margin: 0;
  }

  .content-wrapper__trinity-box {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    margin: 0;
    justify-content: space-between;
  }

  .content-wrapper__morpheus-box {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
  }

  .all-work__btn-wrapper {
    margin: 70px 0 100px 0;
  }
}
