@media screen and (min-width: 769px) {
  .selected-work__headline {
    font-size: 150px;
    font-weight: 300;
  }

  .all-work__btn-wrapper {
    text-align: center;
  }

  .all-work--btn {
    width: 187px;
  }
}
