.selected-work__section {
	border-top: 1px solid #000;
}

.selected-work__headline {
	font-family: $g-light;
	font-weight: 300;
	font-size: 69px;
	color: #252525;
	text-align: center;
	margin-top: 30px;
}

.selected-work__content-wrapper {
	& img {
		aspect-ratio: 1/1;
		width: 100%;
		height: 100%;
	}
}

.content-wrapper__trinity-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;

	& p {
		font-family: $g-heavy;
		font-size: 35px;
		line-height: 42px;
		margin-top: 20px;
		text-transform: uppercase;
	}

	& div {
		& div {
			width: 100%;
			display: flex;
			justify-content: space-between;
			position: relative;
			margin: 20px 0 30px 0;
		}

		& a {
			padding: 15px 30px;
			background-color: white;
			border-radius: 50px;
			color: $main-gray-color;
			font-family: $g-medium;
			font-size: 18px;
			line-height: 21px;
			display: block;
		}
	}

	& button {
		position: relative;
		width: 162px;
		border: none;
		border-radius: 50px;
		padding: 15px 61px 15px 30px;
		background-color: $main-gray-color;
		color: white;
		font-family: $g-medium;
		font-size: 18px;
		line-height: 21px;
		align-self: flex-end;
		cursor: pointer;
	}

	& button::after {
		content: url(../../images/arrow-right.svg);
		background-repeat: no-repeat;
		background-size: 33px;
		position: absolute;
		top: 9px;
		left: 110px;
		z-index: 1;
	}
}

.trinity-box__digital-desin-link {
	width: 172px;
}

.trinity-box__year-link {
	width: 100px;
}

@media (min-width: 350px) {
	.content-wrapper__trinity-box {
		& div {
			width: 310px;
		}
	}
}

.selected-work__img-1,
.selected-work__img-3 {
	margin: 40px 0 20px 0;
}

.all-work--btn {
	width: 100%;
	border: none;
	border-radius: 50px;
	background-color: white;
	padding: 15px 0;
	margin-bottom: 30px;
	font-family: $g-medium;
	font-size: 18px;
	line-height: 21px;
	color: $main-gray-color;
}
