.clients__container-card {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	border-bottom: 1px solid #000;

	.clients__subtitle {
		font-size: 35px;
	}

	.clients__text {
		font-size: 20px;
	}

	.clients__widget {
		display: flex;
		gap: 20px;
	}

	.widget__img {
		border-radius: 50%;
		width: 70px;
		height: 70px;
	}

	.widget__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}

	.wtitle {
		font-weight: 600;
		font-size: 20px;
	}

	.wtext {
		font-size: 20px;
	}
}
