$main-gray-color: #252525;
$gilroy: "Gilroy-Regular", sans-serif;
$g-light: "Gilroy-Light", sans-serif;
$g-medium: "Gilroy-Medium", sans-serif;
$g-heavy: "Gilroy-Heavy", sans-serif;

$inter: "Inter", sans-serif;

body {
  background-color: #f5f3ea;
}

.fz-container {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
