.footer {
	border-top: 1px solid #000;

	@media (min-width: 768px) and (max-width: 1200px) {
		display: flex;
		justify-content: space-between;

		.footer__container-text {
			display: flex;
			align-items: center;
		}

		.text {
			font-size: 18px;
			color: #000;
		}
	}
}
