.footer {
	display: flex;
	border-top: 1px solid #000;

	@media (min-width: 1200px) {
		padding: 25px 70px;
		flex-direction: row;
		justify-content: space-between;

		.footer__container-text {
			display: flex;
			align-items: center;
		}

		.text {
			font-size: 18px;
			color: #000;
		}
	}
}
