.footer {
	display: flex;
	border-top: 1px solid #000;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px 0px;

	.footer__container-text {
		display: flex;
		align-items: center;
	}

	.text {
		font-size: 18px;
		color: #000;
	}
}

@import './layout/footer/footer-tablet.scss';
@import './layout/footer/footer-desktop.scss';
