.about-me__wrapper {
  background-color: $main-gray-color;
  padding: 40px 0;
  overflow: auto;
}

.about-me__text {
  font-family: $g-medium;
  text-transform: uppercase;
  color: white;
  text-align: right;
  font-size: 28px;
  line-height: 28px;
}

.about-me__social-media-wrapper {
  width: 260px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  float: right;
}
