@media screen and (min-width: 769px) {
  .text-box__headline,
  .text-box__paragraph {
    font-size: 82px;
  }

  .description-section__arrow {
    padding: 30px 0 40px 0;
  }

  .description-section__text {
    line-height: 40px;
  }
}
