.description-section {
  margin-top: 30px;
}

.text-box__headline,
.text-box__paragraph {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}

.text-box__headline {
  font-family: $g-medium;
  margin-bottom: 13px;
}

.text-box__paragraph {
  font-family: $g-light;
}

.description-section__arrow {
  display: block;
  margin: auto;
  padding: 30px 0 14px 0;
}

.description-section__hero-photo {
  width: 100%;
  height: 100%;
}

.description-section__text {
  font-family: $g-light;
  text-align: center;
  margin: 30px 0;
  font-size: 20px;
  line-height: 25px;

  & span {
    font-family: $g-heavy;
    font-weight: 800;
  }
}

@media (min-width: 500px) {
  .description-section__text {
    font-size: 30px;
  }
}
