.clients {
	display: flex;
	flex-direction: column;
	gap: 50px;
	border-top: 1px solid #000;

	@media (min-width: 768px) and (max-width: 1200px) {
		.clients__title {
			text-align: center;
			font-size: 155px;
		}

		.clients__container {
			padding: 30px;
			display: flex;
			flex-direction: column;
		}
	}
}
