.clients {
	display: flex;
	flex-direction: column;
	gap: 50px;
	border-top: 1px solid #000;
	padding: 20px;

	.clients__title {
		text-align: center;
		font-size: 80px;
	}

	.clients__container {
		display: flex;
		flex-direction: column;

		.tab6 {
			border: none;
		}
	}
}

@import './layout/clients/clients-tablet.scss';
@import './layout/clients/clients-desktop.scss';
