.clients {
	display: flex;
	flex-direction: column;
	gap: 50px;
	border-top: 1px solid #000;

	@media (min-width: 1200px) {
		.clients__title {
			text-align: center;
			font-size: 212px;
		}

		.clients__container {
			padding: 30px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);

			& > .tab1,
			.tab2 {
				border-right: 1px solid #000;
				border-bottom: 1px solid #000;
			}

			& > .tab4,
			.tab5 {
				border-right: 1px solid #000;
				border-bottom: none;
			}

			& > .tab3 {
				border-bottom: 1px solid #000;
			}

			.clients__container-card {
				padding: 30px;
				display: flex;
				flex-direction: column;
				gap: 30px;
			}

			.clients__subtitle {
				font-size: 40px;
			}

			.clients__text {
				font-size: 20px;
			}

			.clients__widget {
				display: flex;
				gap: 20px;
			}

			.widget__img {
				border-radius: 50%;
				width: 70px;
				height: 70px;
			}

			.widget__text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 10px;
			}

			.wtext {
				font-size: 20px;
			}
		}
	}
}
